*{
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: #fff;

}
.container{
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    height: 100%;
    position: relative;
   padding-top: 45px;
    padding-bottom: 55px;
}
ul{
    list-style: none;
}
.lt_header{
    height: 45px;
    background-color: #0062cc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.lt_fooder{
    height: 55px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0062cc;
}
.lt_header .icon_left,
.lt_header .icon_right{
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: #fff;
}
.lt_header .icon_left{
    left: 0;
}
.lt_header .icon_right{
    right: 0;
}
h4{
    text-align: center;
    line-height: 45px;
    margin: 0;
    color: #fff;
    font-weight: 400;
}
.lt_fooder ul li{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 10px;

}
.lt_fooder ul li span,
.lt_fooder ul li p{
    color: #fff;
}
.lt_fooder ul li.now span,
.lt_fooder ul li.now p{
    color: darkorange;
}
.lt_main{
    width: 100%;
    height:100%;
    overflow: hidden;
    position: relative;
}
